<launch>
    <arg name="3d_pose" default="ax_pose_estimation_node/3d_pose" />
    <arg name="furniture_json" default="$(find hma_pointing_pkg)/config/json/furniture.json" />
    <arg name="arena_json" default="$(find hma_pointing_pkg)/config/json/arena.json" />
    <arg name="fix_position" default="false" />
    <arg name="offset_x" default="0.0"/>
    <arg name="offset_y" default="0.0"/>
    <arg name="offset_z" default="0.0"/>
    <arg name="start_node" default="true"/>

    <node pkg="hma_ailia_pkg" type="ax_pose_estimation_node.py" name="ax_pose_estimation_node">
        <param name="/rgb" type="str" value="/hsrb/head_rgbd_sensor/rgb/image_raw"/>
        <param name="/d" type="str" value="/hsrb/head_rgbd_sensor/depth_registered/image_raw"/>
        <param name="/cam_info" type="str" value="/hsrb/head_rgbd_sensor/depth_registered/camera_info"/>
        <param name="/frame" type="str" value="/head_rgbd_sensor_rgb_frame"/>
        <param name="/detect_person_num" type="int" value="1"/>
        <param name="/offset_x" type="double" value="$(arg offset_x)"/>
        <param name="/offset_y" type="double" value="$(arg offset_y)"/>
        <param name="/offset_z" type="double" value="$(arg offset_z)"/>
        <param name="/start_node" type="bool" value="$(arg start_node)" />

    </node>

    <node pkg="hma_pointing_pkg" type="calculate_pointing_position_node_ring_buffer.py" name="calculate_pointing_position_node" output="screen">
        <param name="/3d_pose" type="str" value="$(arg 3d_pose)"/>
        <param name="/furniture_json" type="str" value="$(arg furniture_json)"/>
        <param name="/arena_json" type="str" value="$(arg arena_json)"/>
        <param name="/fix_position" type="bool" value="$(arg fix_position)"/>
        <param name="/start_node" type="bool" value="$(arg start_node)" />
    </node>

    <node pkg="hma_pointing_pkg" type="env_marker_node.py" name="env_marker_node" >
        <param name="/furniture_json" type="str" value="$(arg furniture_json)"/>
        <param name="/arena_json" type="str" value="$(arg arena_json)"/>
    </node>

    <arg name="rviz" default="true"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hma_pointing_pkg)/config/rviz/calculate_pointing_position_for_test.rviz" if="$(arg rviz)"/>
    
</launch>